@mixin back-btn($w, $h) {
  width: $w;
  height: $h;
  background-color: $clr3;
  color: $clr1;
  font-size: rem(16px);
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.17);
  @include flexcenterer;
  :hover {
    cursor: pointer;
    background-color: $clr11;
  }
}
