.delete-btn{
    background-color: $clr2;
    color: $clr3;
    
    width: 16px;
    height: 16px;
    border-radius: 45px;
    &:hover{
        cursor: pointer;
        background-color: $clr1;

    }
}