.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 340px;

  .cart-items-list {
    width: 100%;
    background-color: $clr7;
    font-size: 16px;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      height: 40px;
      border-radius: 10px;
    }
    .cart-items-info {
      display: flex;
      flex-direction: column;
      .item-name {
        font-size: 1em;
      }
      .item-souse {
        font-size: 0.8em;
      }
      .item-size {
        font-size: 0.6em;
      }
    }
    .price-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .checkout-section {
    div {
      display: flex;
      justify-content: space-between;
    }
    a .checkout-btn {
      @include primary-btn(260px, 45px);
    }
  }
}

@include for-mobile-layout {
  .cart {
    position: fixed;
    bottom: -1vh;
  }
}
