header {
  .nav-bar {
    width: 100%;
    height: 13vh;
    align-items: center;
    background-color: $clr3;
    color: $clr2;

    .nav-bar-logo {
      height: inherit;
      img {
        height: 100%;
      }
    }
    .main-buttons {
      width: 600px;
      align-items: center;
    }
    .checkout {
      //todo - edit with logo
      width: 120px;
      margin: auto 0;
      text-align: end;

      .cart-btn {
        width: 120px;
        height: 49px;
        background-color: #f9ce40;
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.17);
        border-radius: 35px;
        font-size: 22px;
        align-items: center;
        justify-content: center;
        img {
          height: 22px;
        }
        span {
          width: 4ch;
          text-align: center;
        }
      }
    }
  }
  .banner {
    height: 7vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $clr2;
    color: $clr3;
    font-size: rem(22px);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 136px;
  }
}
