.shop {
  display: grid;
  grid-template-columns: 1fr 340px;
  .cart-toggle-mobile {
    display: none;
  }
}

@include for-mobile-layout {
  .shop {
    display: block;
    position: relative;
    .cart-toggle-mobile {
      display: block;
    }
  }
}
