.nav-button {
  border: 2px solid transparent;

  &:hover {
    cursor: pointer;
    border-bottom: solid 2px $clr4;
  }

  &.active {
    border-bottom: solid 2px $clr4;
  }
}
.btn {
  padding: 5px;
  margin: auto;
  &:hover {
    cursor: pointer;
  }
}
.delivery-choice-btn {
  padding: 3px;
  border: 1px solid black;
  &:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    cursor: pointer;
  }
  &.clicked {
    background-color: lightgray;
  }
}
