.add-to-cart-btn {
  width: 100%;
  height: 40px;
  background-color: $clr1;
  color: $clr3;
  font-size: 1.125em;
  border-radius: 0 0 35px 35px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: $clr2;
    border-radius: 0 0 35px 35px;
  }
}
