.amount-container {
  flex-direction: row-reverse;
  background-color: $clr3;
  height: 39px;
  font-size: 1rem;
  margin-bottom: 24px;

  .plus-btn {
    width: 38px;
    border: solid 1px $clr5;
    border-radius: 45px 0 0 45px;
    text-align: center;

    // .plus-vertical {
    //   position: absolute;

    //   width: 1.7px;
    //   height: 9.9px;
    //   background-color: $clr1;
    // }
    // .plus-horisontal {
    //   position: absolute;
    //   height: 1.7px;
    //   width: 9.9px;

    //   background-color: $clr1;
    // }
  }
  .amount {
    width: 69px;
    line-height: 2.5;
    border-top: solid 1px $clr5;
    border-bottom: solid 1px $clr5;
  }
  .minus-btn {
    width: 38px;
    border: solid 1px $clr5;
    border-radius: 0 45px 45px 0;

    // .minus {
    //   width: 9.9px;
    //   height: 1.7px;
    //   background-color: $clr1;
    // }
  }
  .symbol {
    font-size: 2rem;
    line-height: 1.1;
    color: $clr1;
  }
}
.amount-btn :hover {
  background-color: $clr2;
  border-radius: inherit;
  border: solid 1px $clr2;

  &.symbol {
    color: $clr3;
  }
}
