.item-card {
  width: 200px;
  height: 340px;
  font-size: 12px;
  margin: 0 0 32px 32px;
  border: solid 3px rgba(216, 216, 216, 0.37);
  border-radius: 35px;
  background-color: $clr3;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  img {
    height: 120px;
    border-radius: 32px 32px 0 0;
    margin-bottom: 4px;
    object-fit: cover;
  }

  .item-info {
    text-align: center;
    font-family: Heebo-Regular;

    h2 {
      font-size: 1.375em;
      font-weight: 500;
      margin: 4px 0 4px 0;
    }
    h3 {
      margin: 4px 0 4px 0;
      font-size: 1.125em;
      font-weight: 100;
      line-height: rem(20px);
      height: 1.125em;
      overflow: hidden;
    }
    h4 {
      display: none;
    }
  }
  h3 {
    margin: 4px 0 4px 0;
    font-size: 1.25em;
  }
  h4 {
    margin: 4px 0 4px 0;
    font-size: 0.75em;
  }
  .add-to-cart-container {
    width: 100%;
    flex-direction: column;
    align-items: center;
    .add-to-cart-otpions {
      width: 100%;
    }
    .add-to-cart-btn {
      @include add-to-cart-btn-desktop(100%, 40px);
    }
  }
  &:hover {
    cursor: pointer;
  }
}

@include for-mobile-layout {
  .item-card {
    min-width: 340px;
    height: 176px;
    margin: 0;
    border-radius: 0;
    padding-bottom: 24px;
    padding-top: 24px;
    border: none;
    flex-direction: row;
    border-bottom: 1px solid #e8e5e5;
    img {
      height: 128px;
      width: 128px;
      border-radius: 25px;
      margin-bottom: 0;
    }
    section {
      display: flex;
      flex-direction: column;
      section {
        display: flex;
      }
    }
    .item-info {
      h3 {
        display: none;
      }
      h4 {
        display: block;
      }
    }
    h4 {
      display: none;
    }
    .add-to-cart-container {
      flex-direction: row;
      align-items: center;

      .add-to-cart-btn {
        @include add-to-cart-btn-mobile;
      }
    }
  }
}
