.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 368px;
  .cart-toggle-mobile {
    display: none;
  }
  .free-shipment-container {
    margin-bottom: 16px;
  }

}

@include for-mobile-layout {
  .cart {
    position: fixed;
    top: calc(100vh - 90px);
    bottom: 0;
    left: 50%;
    width: 100%;
    z-index: 999;
    transition: transform 500ms;
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: $clr3;
    min-height: calc(100vh - 56px);
    .shipment-total {
      width: 100%;
    }
    .cart-toggle-mobile {
      border-bottom: none;
    }
    .free-shipment-container {
      background-color: $clr3;
      border-radius: 0;
      border-bottom: solid 1px #a3a3a3;
      margin-bottom: 0;
    }

    &.close {
      transform: translate(-50%, 0);
    }
    &.open {
      transform: translate(-50%, calc(-100vh + 146px));

      .cart-toggle-mobile {
        svg {
          transform: rotate(0deg);
        }
      }
    }
    .cart-toggle-mobile {
      display: block;
    }
  }
}
